extends layout/_base

block navbar
	.container
		.biglogo
			img(src="assets/images/logo.png")
		
block content
	.container
		#main-slider
			img(src="assets/images/slider/cacao-elixir.jpg")
			img(src="assets/images/slider/chunks.jpg")

	script.
		$( function() {
			$('#main-slider').nivoSlider();
		});