extends layout/_base

block content
	.container
		.treats-page
			h1 Treats

			.item
				img(src="assets/images/slider/chunks.jpg")
				.name Maca "Cream" Delight
				.ingredient-list
					li Ecuadorian cacao, wildflower honey, vanilla bean, Himalayan pink crystal sea salt
					li Maca "cream" filling: Coconut butter, cacao butter, wildflower honey, maca powder, mesquite powder, vanilla bean, Himalayan pink crystal sea salt
			.item
				.name Spiced Pecan
				.ingredient-list
					li Ecuadorian cacao, wildflower honey, vanilla bean, Himalayan pink crystal sea salt
					li Pecan butter filling: Raw pecans, cacao butter, wildflower honey, nutmeg, cinnamon, clove, vanilla bean, Himalayan pink crystal sea salt
			
			.item
				.name Salted Almond Truffle
				.ingredient-list
					li Ecuadorian cacao, wildflower honey, roasted almonds, vanilla bean, truffle salt
			
			.item
				.name Lavender Rose
				.ingredient-list
					li Ecuadorian cacao, wildflower honey, dried rose petals, doterra Lavender essential oil, vanilla bean, Himalayan pink crystal sea salt
			
			.item
				.name Vanilla Peppermint Crunch
				.ingredient-list
					li Ecuadorian cacao, wildflower honey, vanilla bean, doterra Peppermint essential oil, cacao nibs, Himalayan pink crystal sea salt
			
			.pink * All ingredients are organic, gluten-free, and mostly raw.  Flavor availability varies.