@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700);

body {
	background: #91d1ed;
	color: #222;
	margin: 0;
	padding: 0;
	/*background-image: url(images/3.jpg);*/
	background-size: cover;
	width: 100%;
	/*height: 100%;*/
	font-family: "Josefin Sans", Georgia, sans-serif;
	font-size: 1.1em;
	text-align: center;
}

a {
	color: #f06593;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	margin: auto;
	position: relative;
	text-align: center;
	width: 800px;
}

#main-box {
	margin: 50px auto 0;
	/*height: 702px;*/
	box-shadow: 0 0 15px 5px #f0e287;
	/*border: 1px solid #6694a3;*/
/*
	border: 1px solid #dec5a0;*/
	/*border-width: 0 1px 0 1px;*/
	/*border: 3px solid black;*/
	/*width: 1000px;*/
}

.banner {
	width: 100%;
}

.left, .right {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.left {
	width: 400px;
	float: left;
}

.right {
	width: 400px;
}

.top {
	height: 152px;
	position: relative;
}

.facebook-link {
	position: absolute;
	bottom: 10px;
	left: 10px;
	opacity: 0.9;
}

.facebook-link:hover {
	opacity: 1;
}

.bottom {
	padding: 10px 0;
	/*background: rgba(0, 0, 0, 0.2);*/
	border-top: 2px solid #333;
	background: #111;
	color: white;
	clear: both;
	font-size: 22px;
	line-height: 22px;
	font-weight: bold;
	/*letter-spacing: 0.1em;*/
	height: 25px;
	/*height: 300px;*/
}

.full-content {
	background: #c2e5f4;
}

.logo {
	background: #c2e5f4;
	/*background: rgba(255, 255, 255, 0.45);*/
}

.logo img {
	margin-top: 10px;
}

.pink { color: #f06593; }
.rosy { color: #f094c6; }
.babyblue { color: #c2e5f4; }

.treats { 
	color: #f06593; 
	background: white;
	padding: 5px;

}

.info {
	background: #c2e5f4;
	/*background: rgba(255, 255, 255, 0.45);*/
	height: 547px;
	overflow-y: scroll;
}

.info ul {
	list-style: none;
	margin: 0;
	padding-left: 10px;
	margin-bottom: 20px;
}

.info li {
	margin: 10px 0;
}

.info .inner {
	padding: 20px;
	text-align: left;
}

.info p {
	margin-top: 0;
}

.info h2 {
	font-size: 24px;
	font-weight: 700;
	margin: 0;
}

.info h3 {
	text-align: left;
	margin: 0;
}

#slider-container {
	width: 400px;
	height: auto;
	margin: auto;
	background: #fff;
}

.flex-control-thumbs {
	margin: 0;
}


.slides img {
	height: 400px;
	width: auto;
}

.gofundme {
	border-radius: 7px;
	display: block;
	text-align: center;
	margin: 10px auto 30px;
	padding: 10px;
	background: white;
	color: black;
}

.gofundme:hover {
	color: #f06593;
	text-decoration: none;
}

.gofundme h1 {
	margin: 0;
	font-size: 30px;
	/*background: black;*/
}

.mission {
	font-size: 24px;
}

.attribution {
	position: absolute;
	bottom: 10px;
	right: 0;
	width: 100%;
	color: #fff;
	font-size: 12px;
}

.attribution a {
	color: #c2e5f4;
	/*color: #fff;*/
}
.attribution a:hover {
	color: #f06593;
}

.attribution .container {
	text-align: center;
}

.flex-direction-nav {
	display: none;  /* CAUTION! */
}

.squareup-embeds {
	padding: 30px 0;
}

.squareup-embeds .item {
	/*width: 200px;*/
	display: inline-block;
	width: 40%;
}

.sq-embed-item {
	width: 40%;
}