include mixins

block vars

doctype html
html
	head
		title kilikina's chocolat

		meta(name="viewport", content="initial-scale= 1, width=device-width")

		link(rel="stylesheet", type="text/css", href="assets/vendor/lodash/dist/lodash.min.js")
		link(rel="stylesheet", type="text/css", href="assets/vendor/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="assets/vendor/nivo-slider/nivo-slider.css")
		link(rel="stylesheet", type="text/css", href="assets/vendor/nivo-slider/themes/default/default.css")
		link(rel="stylesheet", type="text/css", href="assets/vendor/superslides/stylesheets/superslides.css")
		link(rel="stylesheet", type="text/css", href="assets/fontastic/styles.css")

		link(rel="stylesheet", type="text/css", href="assets/styles/main.css")
		//- link(rel="stylesheet", type="text/css", href="assets/vendor/jquery/jquery.min.js")

		script(type="text/javascript", src="assets/vendor/jquery/jquery.min.js")
		script(type="text/javascript", src="assets/vendor/photoset-grid/jquery.photoset-grid.js")
		script(type="text/javascript", src="assets/vendor/bootstrap/dist/js/bootstrap.min.js")
		script(type="text/javascript", src="assets/vendor/nivo-slider/jquery.nivo.slider.pack.js")
		script(type="text/javascript", src="assets/vendor/superslides/jquery.superslides.js")

		script(type="text/javascript", src="assets/scripts/main.js")

		script.


			$( function() {

				function navHeight() {
					if($(window).width() < 768)
						return 0;
					else
						return $('#navbar-wrapper').height();
				}

				function scrollTo(selector) {
					y = $(selector).offset().top - navHeight();
					$('html, body').animate({
						scrollTop: y
					});
				}

				$('a[href]').click( function(e) {
					scrollTo($(this).attr('href'));
					return false;
				})
			});


		block head

	body(class=bodyClass)
		//- #logo-watermark
		//- .constrained
		//- 	block big-image
		//- 		#background-wrapper
		//- 			#big-image

		#navbar-wrapper
			block navbar
				.container
					include ../modules/navbar

			//- block contact-tab
			//- 	#contact-tab
			//- 		a(href="#contact") 
			//- 			span.icon-phone

		#body-wrapper
			block raw-content
				#outer-limits
					block header-image
						//- +header-image

					#content-wrapper
						block content

					#footer-wrapper
						block footer
							include ../modules/footer
		