doctype html
html
	head
		title kilikina's chocolat

		link(rel="stylesheet", type="text/css", href="/assets/vendor/lodash/dist/lodash.min.js")
		link(rel="stylesheet", type="text/css", href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/assets/vendor/nivo-slider/nivo-slider.css")
		link(rel="stylesheet", type="text/css", href="/assets/vendor/nivo-slider/themes/default/default.css")

		link(rel="stylesheet", type="text/css", href="/assets/styles/main.css")
		//- link(rel="stylesheet", type="text/css", href="/assets/vendor/jquery/jquery.min.js")

		script(type="text/javascript", src="/assets/vendor/jquery/jquery.min.js")
		script(type="text/javascript", src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js")
		script(type="text/javascript", src="/assets/vendor/nivo-slider/jquery.nivo.slider.pack.js")

		script(type="text/javascript", src="/assets/scripts/main.js")

	body
		block navbar
			.container
				nav.navbar
					img.logo(src="assets/images/logo-textonly.png")
					ul.left
						li 1
						li 2
					ul.right
						li 3
						li 4

		block content
