.footer
	#contact.container
		.row
			.col.col-sm-6
				h1 Contact
				.email
					a.black(href="mailto:kristina@kilikinas.com")
						span.icon.icon-fontawesome-webfont
						| kristina@kilikinas.com
				.facebook
					a.black(href="http://facebook.com/kilikinas", target="_blank") 
						span.icon.icon-facebook-squared
						| facebook.com/Kilikinas
			.col.col-sm-6.align-right
				h1.logo
					img(src="assets/images/logo-black.png", alt="Kilikina's Chocolat")
				p 
					| &copy; 
					| 2014 Kilikina's Chocolat
				p site by <a href="http://michaeldougherty.info" target="_blank">michael dougherty</a>
		.align-center
			img.footer-stamp(src="assets/images/stamp.png")