.footer
	#contact.container
		.row
			.col.col-sm-5
				h1 Contact
				.email
					a.black(href="mailto:kristina@kilikinas.com")
						span.icon.icon-fontawesome-webfont
						| kristina@kilikinas.com
				.facebook
					a.black(href="http://facebook.com/kilikinas", target="_blank") 
						span.icon.icon-facebook-squared
						| facebook.com/Kilikinas
				.align-right(style="margin-top: 60px;")
					h1.logo
						img(src="assets/images/logo-black.png", alt="Kilikina's Chocolat")
					p 
						| &copy; 
						| 2014 Kilikina's Chocolat
					p.attribution site by <a href="http://michaeldougherty.info" target="_blank" class="black">michael dougherty</a>
			.col.col-sm-7
				.align-center
					img.footer-stamp(src="assets/images/stamp.png")