
.navbar
	a(href="/").logo
		h1
			img(src="assets/images/logo-pink.png", alt="Kilikina's Chocolat")
	ul.links
		li: a(href="chocolat.html") chocolat 
		li: a(href="order.html") order
		li: a(href="story.html") story
		//- li:	a(href="bodycare.html") body care 
		li.icon
			a.contact-anchor(href="#contact")
				span.icon-fontawesome-webfont-1
		li.icon
			a.contact-anchor(href="http://facebook.com/kilikinas", target="_blank")
				span.icon.icon-facebook-squared
