
.navbar
	a(href="index.html").logo
		h1
			img(src="assets/images/logo-pink.png", alt="Kilikina's Chocolat")
	ul.links
		li 
			a(href="flavors.html") bodyworks 
		li 
			a(href="flavors.html") flavors 
		li 
			a(href="story.html") story
		li 
			a(href="order.html") order
		li.icon
			if bodyClass == 'page-index'
				a(href="/order.html#contact")
					span.icon-fontawesome-webfont-1
			else
				a(href="#contact")
					span.icon-fontawesome-webfont-1
