extends layout/_base

block header-image
	+header-image("body care", "assets/images/headers/body-cream.jpg")

block content
	+content-block
		.bodycare-page
			h1.baby-blue-line Organic Cacao Body Cream
			.intro 
				p Nourish your skin with this soft and decadent organic cacao body cream, filled with essential fatty acids and antioxidants.
				.row
					.col.col-sm-6
						img(src="assets/images/headers/body-cream.jpg", style="margin-bottom: 5px;")
					.col.col-sm-6
						img(src="assets/images/doterra-oil.jpg")
				a(href="order.html#bodycare").order-callout click to order
				p
					span.pink-asterisk
					| Optionally infused with pure therapeutic grade essential oils:

			.row
				+flavor('Sweet Citrus')
					.ingredients 
						| doTERRA essential oils of: Bergamot &ndash; Clementine &ndash; Grapefruit &ndash; Lemon &ndash; Mandarin &ndash; Tangerine &ndash; Vanilla &ndash; Wild Orange

				+flavor('Love')
					.ingredients 
						| doTERRA essential oils of: Bergamot &ndash; Cinnamon &ndash; Cistus absolute &ndash; Cocoa bean &ndash; Jasmine absolute &ndash; Patchouli &ndash; Rose absolute &ndash; Sandalwood &ndash; Vanilla bean extract &ndash; Vetiver &ndash; Ylang Ylang 
