extends layout/_base

block header-image
	+header-image("flavors", "assets/images/headers/choco-bar.jpg")

block content
	+content-block
		.flavors-page
			.row
				+flavor('Maca "Cream" Delight', "assets/images/flavors/maca-cream-delight.jpg")
					.description A heavenly sandwich of chocolate and creamy maca-coconut butter filling
					.ingredients 
						| Pacari Ecuadorian cacao &ndash; wildflower honey &ndash; coconut butter &ndash; maca powder &ndash; wildcrafted vanilla bean &ndash; Himalayan pink crystal sea salt

				+flavor('Dark Vanilla', "assets/images/flavors/chunks.jpg")
					.description Simple and satisfying, the perfect union of cacao and vanilla bean
					.ingredients 
						| Pacari Ecuadorian cacao &ndash; wildflower honey &ndash; wildcrafted vanilla bean &ndash; Himalayan pink crystal sea salt
			.row
				+flavor('Lavender Rose', "assets/images/flavors/lavender-rose.jpg")
					.description Elegant with soothing floral notes
					.ingredients 
						| Pacari Ecuadorian cacao &ndash; wildflower honey &ndash; dried rose petals &ndash; pure therapeutic grade lavender essential oil &ndash; wildcrafted vanilla bean &ndash; Himalayan pink crystal sea salt

				+flavor('Goji Heart', "assets/images/flavors/goji-heart.jpg")
					.description A special loving blend that opens the heart and increases vitality!
					.ingredients 
						| Pacari Ecuadorian cacao &ndash; wildflower honey &ndash; schizandra berry &ndash; cardamom &ndash; goji berries &ndash; wildcrafted vanilla bean &ndash; Himalayan pink crystal sea salt

			.row
				+flavor('Hazelnut Kiss', "assets/images/flavors/poo-poo.jpg")
					.description A creamy hazelnut-butter filled kiss coated in raw dark chocolate
					.ingredients 
						| Pacari Ecuadorian cacao &ndash; wildflower honey &ndash; hazelnuts &ndash; wildcrafted vanilla bean &ndash; Himalayan pink crystal sea salt
			
			.footnotes
				span.star *  
				| All ingredients are organic, gluten-free, and mostly raw.  Flavor availability varies.