extends layout/_base

block big-image

block content
	+content-block
		h1 hi
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
		p lorem ipsum
