extends layout/_base
		
block content
	.container

		//- .photoset-grid(data-layout="12")
		//- 	.row
		//- 		.col.half
		//- 			img(src="assets/images/slider/cacao-elixir.jpg")
		//- 		.col.half
		//- 			img(src="assets/images/slider/chunks.jpg")
		//- 	.row
		//- 		.col.third
		//- 			img(src="assets/images/slider/cacao-elixir.jpg")
		//- 		.col.third
		//- 			img(src="assets/images/slider/chunks.jpg")
		//- 		.col.third
		//- 			img(src="assets/images/slider/chunks.jpg")

		.photoset-grid(data-layout="12")
			img(src="assets/images/slider/cacao-elixir.jpg")
			img(src="assets/images/slider/chunks.jpg")
			img(src="assets/images/slider/cacao-elixir.jpg")
			img(src="assets/images/slider/chunks.jpg")
			img(src="assets/images/slider/chunks.jpg")

		#main-slider
			img(src="assets/images/slider/cacao-elixir.jpg")
			img(src="assets/images/slider/chunks.jpg")

	script.
		$( function() {
			$('#main-slider').nivoSlider();
			$('.photoset-grid').photosetGrid({
				gutter: 8,
				highresLinks: true,
			});
		});