extends layout/_base

block vars
	- var bodyClass = 'page-index'

block head
	script.

		$( function() {
			$('.superslides').superslides({
				play: 5000,
				animation: 'fade',
				animation_speed: 2000,
				//- inherit_width_from: '#fullscreen-slides',
				//- inherit_height_from: '#fullscreen-slides',
			});

			$('#contact').hide();

		});

block raw-content
	.home-page
		#fullscreen-slides
			.superslides
				.slides-container
					img.photo(src="assets/images/slider/kilikina-hazelnut-kiss-kaui.jpg")
					img.photo(src="assets/images/slider/kilikina-raindrops-hazel.jpg")
					img.photo(src="assets/images/slider/kilikina-kaui-admire.jpg")
					img.photo(src="assets/images/slider/kilikina-leafy.jpg")

		#footer-wrapper
			include modules/footer
			
			//- img.stamp(src="assets/images/stamp-stroke.png")