extends layout/_base

block vars
	- var bodyClass = 'page-index'

block head
	script.

		$( function() {
			$('.superslides').superslides({
				play: 5000,
				animation: 'fade',
				animation_speed: 2000,
			});

			$('#contact').hide();

		});

block raw-content
	.home-page
		#fullscreen-slides
			.superslides
				.slides-container
					img.photo(src="assets/images/slider/15.jpg")
					img.photo(src="assets/images/slider/4.jpg")
					img.photo(src="assets/images/slider/27.jpg")
					img.photo(src="assets/images/slider/body-cream.jpg")
					img.photo(src="assets/images/flavors/goji-heart.jpg")
					img.photo(src="assets/images/flavors/lavender-rose.jpg")

		#footer-wrapper
			include modules/footer
			
			//- img.stamp(src="assets/images/stamp-stroke.png")