extends layout/_base

block header-image
	+header-image("order", "assets/images/slider/kilikina-leafy.jpg")

block content
	+content-block
		.order-page
			.location-choices.align-center
				h2.choice
					a(href="https://squareup.com/store/kilikinas-chocolat/") ORDER HERE

			h2.baby-blue-line Custom Orders
			p.intro For custom orders and questions please contact us at <a href="mailto:Kristina@kilikinas.com">kristina@kilikinas.com</a>












