extends layout/_base

block header-image
	+header-image("order", "assets/images/slider/kilikina-leafy.jpg")

block content
	+content-block
		.order-page
			.location-choices.align-center
				h2.align-center Please choose one:
				.row
					.col-sm-6
						h2.choice.local
							| Ordering Local to Portland, OR?
					.col-sm-6
						h2.choice.anywhere
							| Ordering Outside of Portland, OR?
			.squareup-embeds
				.local-items
					h1.locale ORDERING LOCAL TO PORTLAND, OR
						//- a.reset (change?)

					.intro
						p Please choose an item below.
						//- p During the summer months, we can only fulfill orders local to Portland, OR

					a.anchor(name="chocolat")
					h1.baby-blue-line Chocolat
					.row
						+order-item('local', 'large-box-of-valentine-s-chocolate', "Large Box of Valentine's Chocolate")
						+order-item('local', 'dark-vanilla', 'Dark Vanilla')
						+order-item('local', 'goji-heart', 'Goji Heart')
						+order-item('local', 'hazelnut-kiss', 'Hazelnut Kiss')
					.row
						+order-item('local', 'maca-cream-delight-local-portland-or', 'Maca Cream Delight')
						//- +order-item('local', 'lavender-rose', 'Lavender Rose')

					//- a.anchor(name="bodycare")
					//- h1.baby-blue-line Body Care
					//- .row
					//- 	+order-item('local', 'kilikina-s-cacao-body-cream-local-portland-or', 'Cacao Body Cream')

				.anywhere-items
					h1.locale ORDER ANYWHERE IN THE U.S.
						//- a.reset (change?)

					p.intro Please choose your item below.

					a.anchor(name="chocolat")
					h1.baby-blue-line Chocolat
					.row
						//- +order-item('anywhere', 'valentine-s-chocolate-large-box-of-pieces-anywhere-in-the-us-outside-of-portland-or', "Large Box of Valentine's Chocolate")
						+order-item('anywhere', 'dark-vanilla-1', 'Dark Vanilla')
						+order-item('anywhere', 'goji-heart-1', 'Goji Heart')
						+order-item('anywhere', 'hazelnut-kiss-1', 'Hazelnut Kiss')
					.row
						+order-item('anywhere', 'lavender-rose-1', 'Lavender Rose')
						+order-item('anywhere', 'maca-cream-delight-local-portland-or-1', 'Maca Cream Delight')

					//- a.anchor(name="bodycare")
					//- h1.baby-blue-line Body Care
					//- .row
					//- 	+order-item('anywhere', 'cacao-body-cream-giveaways-with-valentine-s-orders', 'Cacao Body Cream')
				<script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>


			h2.baby-blue-line Custom Orders
			p.intro For larger or custom orders, please contact us directly at <a href="mailto:kristina@kilikinas.com">kristina@kilikinas.com</a>












