extends layout/_base

block header-image
	+header-image("kilikina's story", "assets/images/headers/15.jpg")

block content
	+content-block
		.story-page
			.story-box.field
				p Kilikina's embodies the sweet essence of a flower. Through her nurturing heart and loving touch, Kristina creates the most beautiful conscious chocolate treats. With the desire to create something delicious and healthy, she selects the highest quality ingredients to ensure that you receive something truly special and satisfying. Each batch is handcrafted with various combinations of organic and raw Ecuadorian cacao, superfoods, medicinal herbs, spices and essential oils.
			.row
				.col-md-5(style="margin: 30px auto;")
					img(src="assets/images/story/kristina-kids.jpg")
				.col-md-7(style="margin: 30px auto;")
					img(src="assets/images/story/kristina-community.jpg")