
html, body, p {
	font-family: 'Quattrocento Sans', Georgia, sans-serif;
}
html,body {
	font-size: 16px;
	height: 100%;
	// background: rgba($baby-blue, 0.5);
}

img {
	max-width: 100%;
}

.intro {
	font-size: 1.33em;
}

a {
	h1 {
		margin: 0;
	}
}

.baby-blue-line {
	border-bottom: 2px solid $baby-baby-blue;
}

.align-center { text-align: center; }
.align-right { text-align: right; }

.bg-rosy { background: $rosy; }

#outer-limits {
	background: $baby-baby-blue url(../../assets/images/bg-paisley-alpha.png) center;
	max-width: $width-constraint;
	margin: auto;
	min-height: 100%;
}

.constrained {
	max-width: $width-constraint;
}

h1, h2, h3, h3 {
	font-family: 'Josefin Slab', Georgia, sans-serif;
}

a:link, a:visited {
	@include single-transition(color, 250ms);
	color: $link-color;
	&:hover {
		color: $link-color-hover;
	}
}

#content-wrapper {
	@include clearfix;
	padding-bottom: 50px;
	@include respond-to(non-mobile) {
		padding-bottom: 100px;
	}
}

.content-block {
	background: rgba(white, 0.98);
	padding: 30px 15px;
	@include respond-to(non-mobile) {
		padding: 50px;
	}
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pink { color: $pink; }

.biglogo {
	text-align: center;

	img {
		width: 400px;
		min-width: 300px;
		max-width: 80%;
	}
}

.pink-asterisk:before {
		display: inline;
		// margin-right: 15px;
		// line-height: 1px;
		content: "*";
		color: $pink;
		font-size: 36px;
		vertical-align: middle;

}

.header-image {
	// position: absolute;
	width: 100%;
	height: $header-image-height-small;
	max-width: 1600px;
	// height: 600px;
	margin: auto;
	// margin-top: $navbar-size;
	text-align: center;
	background: $baby-baby-blue url(../../assets/images/headers/15.jpg) center;
	background-size: cover;
	.text {
		padding-top: ($header-image-height-small - $content-overlap-small) / 2 - 40;
		h1 {
			// display: inline-block;
			// padding: 10px;
			// background: rgba(black, 0.2);
			color: white;
			background: rgba(black, 0.75);
			padding: 5px;
			// font-size: 80px;
			@include respond-to(non-mobile) {
				text-shadow: 0 0 8px rgba(black, 0.8);
				font-size: 60px;
			}
		}
	}
	@include respond-to(non-mobile) {
		height: $header-image-height-large;
		.text {
			padding-top: ($header-image-height-large - $content-overlap-large) / 2;
		}
	}
}

.story-box {
	min-height: 400px;
	&.field {
		background: url(../../assets/images/story/kristina-field.jpg) top center;
		background-size: cover;
		p {
			line-height: 1.5em;
			color: yellow;
			// background: rgba(white, 0.8);
			width: 50%;
			min-width: 300px;
			padding: 50px 30px;
			// margin: 50px;
		}
	}

	p {
		font-family: Sofia;
		text-align: left !important;
		font-size: 1.5em;
	}
}

a.order-callout {
	@include transition(color 300ms, background 300ms);
	display: block;
	text-align: center;
	padding: 5px;
	margin: 30px auto;
	border: 1px solid $pink;
	background: lighten($pink, 30%);
	border-width: 1px 0 1px 0;
	// color: white;
	&:hover {
		background: $pink;
		color: white;
		text-decoration: none;
	}
}

.header-image + #content-wrapper {
	margin-top: -$content-overlap-small;
	@include respond-to(non-mobile) {
		margin-top: -$content-overlap-large;
	}
}


.footer {
	$text-color: #222;
	color: $text-color;
	background: $baby-baby-blue;
	border-top: 1px dashed white;
	font-size: 20px;

	a.black {
		color: $text-color;
		&:hover {
			text-decoration: none;
			color: $blue;
		}
	}

	.attribution a {
		color: $text-color;
		text-decoration: underline;
		&:hover {
			text-decoration: underline;
			color: $blue;
		}
	}

	.col {
		padding: 40px 20px;
	}

	.info {
		// background: #ddd;
		padding: 30px;
	}

	.icon {
		display: inline-block;
		margin: 0 8px;
		font-size: 1.2em;
		vertical-align: middle;
	}

	.footer-stamp {
		margin: 0 auto;
		opacity: 0.8;
	}
}

#contact-tab {
	$height: 50px;
	font-size: 30px;
	height: $height;
	width: $height;
	text-align: center;
	line-height: $height;
	position: absolute;
	right: 0;
	bottom: -$height;
	z-index: 500;
	border-radius: 0 0 0 10px;
	background: white;
	a {
		color: black;
	}
}

@media screen and (min-width: $break-sm) {
	#body-wrapper {
		margin-top: $navbar-size + 10;
	}
}

@media screen and (max-width: $break-sm) {
	.container {
		// padding: 0 5px;
	}
	#outer-limits {
		padding-top: 50px;
	}
}
