
#navbar-wrapper {
	@include single-transition(opacity, 500ms);
	background: white;
	width: 100%;
	z-index: 1000;
	// border-bottom: 4px solid black;
	box-shadow: 0 4px 3px rgba(black, 0.1);
	opacity: 0.95;

	&:hover {
		opacity: 1;
	}

	@include respond-to(non-mobile) {
		position: fixed;
		top: 0px;
	}
}

body.page-index {

	#body-wrapper {
		margin: 0;
	}

	#navbar-wrapper {
		position: fixed;
		top: 5%;
		opacity: 0.75;
		&:hover {
			opacity: 1;
		}
	}
}

.navbar {
	$size: $navbar-size - $navbar-margin*2;
	@include clearfix;

	text-align: center;
	font-family: 'Josefin Sans', Georgia, sans-serif;
	margin: $navbar-margin auto;
	position: relative;

	.logo {
		display: block;
		vertical-align: middle;

		img {
			height: $size;
		}
		
		@include respond-to(non-mobile) {
			float: left;
		}
		@include respond-to(tablet) {
			float: none;
			text-align: center;
		}
	}

	ul.links {
		padding: 0;
		margin: 8px 0 0;
		list-style: none;
		display: block;
		vertical-align: middle;

		@include respond-to(non-mobile) {
			margin: 0;
			margin-left: 380px;
			text-align: right;
			// display: inline-block;
		}

		@include respond-to(tablet) {
			display: inline-block;
			margin-left: 0;	
			text-align: left;
		}

	}

	li {
		display: inline-block;
		line-height: $size;

		a {
			font-size: 20px;
			font-weight: normal;
			padding: 0px $navbar-margin;
			color: black;
			vertical-align: middle;
			&:hover {
				text-decoration: none;
				// background: $pink;
				color: $pink;
				// color: white;
			}
		}

		&:first-child:before {
			border-left: none;
			content: "";
		}

		&.icon span::before { // the icon
			vertical-align: middle;
		}

		@include respond-to(non-mobile) {
			display: inline-block;
			a {
				font-size: 32px;
			}
		}
		@include respond-to(desktop) {
			a {
				font-size: 28px;
			}
		}
		@include respond-to(cinema) {
			a {
				font-size: 32px;
			}
		}
	}

	li:before {
		display: inline;
		line-height: 1px;
		content: "•";
		color: $pink;
		font-size: 36px;
		vertical-align: middle;
	}

}