@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);

@import "compass/utilities/general/clearfix";

$pink: #f06593;

html,body {
	font-family: 'Quattrocento Sans', Georgia, sans-serif;
}

#logo-watermark {
	position: absolute;
	top: -150px;
	right: -200px;
	opacity: 0.05;
	background: url(../../assets/images/logo.png) no-repeat;
	width: 800px;
	height: 800px;
}

#main-slider {
	margin: auto;
	width: 300px;
	max-height: 300px;
}

.pink { color: $pink; }

.photoset-grid {
	max-width: 500px;
	margin: auto;
}
.image-grid {
	img {
		max-width: 100%;
	}

	.col {
		display: inline-block;
		margin: 2px;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}

	.col.half {
		width: 48%;
	}
	.col.third {
		width: 33%;
	}
}

.biglogo {
	text-align: center;

	img {
		width: 400px;
		min-width: 300px;
		max-width: 80%;

	}
}

.navbar {
	$size: 60px;
	@include clearfix;
	// text-align: center;

	font-family: 'Josefin Sans', Georgia, sans-serif;
	margin: 30px auto;
	height: $size;
	position: relative;

	ul.links {
		padding: 0;
		list-style: none;
		margin-left: 380px;
		margin-top: 14px;
		display: block;
		// display: inline-block;
	}

	li {
		display: inline-block;
		border-left: 4px solid $pink;
		a {
			font-size: 24px;
			font-weight: bold;
			padding: 0px 30px;
			color: black;
		}
		&:first-child {
			border-left: none;
		}
	}


	.logo {
		max-height: $size;
		float: left;
		vertical-align: middle;
		// position: absolute;
		// top: 0;
		// left: 0;
	}
	.left {
		float: left;
	}
	.right {
		float: right;
	}
}

.treats-page {
	.item {
		img {
			border-radius: 50%;
			width: 100px;
			height: 100px;
		}
	}
}