@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);

@import "compass/utilities/general/clearfix";
@import "compass/css3";

$pink: #f06593;
$baby-blue: #c2e5f4;

$width-constraint: 1600px;
$navbar-size: 60px;
$navbar-margin: 10px;
$content-overlap: 50px;
$header-image-height: 300px;

html,body {
	font-family: 'Quattrocento Sans', Georgia, sans-serif;
	// background: rgba($baby-blue, 0.5);
}

#outer-limits {
	background: white url(../../assets/images/bg-paisley.png);
	max-width: $width-constraint;
	margin: auto;
}

.contrained {
	max-width: $width-constraint;
}

h1, h2, h3, h3 {
	font-family: 'Josefin Sans', Georgia, sans-serif;
}

a:link, a:visited {
	@include single-transition(all, 250ms);
}

#logo-watermark {
	position: absolute;
	top: -150px;
	right: -200px;
	opacity: 0.05;
	background: url(../../assets/images/logo.png) no-repeat;
	width: 800px;
	height: 800px;
}

#content-wrapper {
	margin-top: -$content-overlap;
}

.content-block {
	background: rgba(white, 0.98);
	padding: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pink { color: $pink; }

.biglogo {
	text-align: center;

	img {
		width: 400px;
		min-width: 300px;
		max-width: 80%;

	}
}

#background-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#big-image {
	width: 100%;
	height: 100%;
	max-width: 1600px;
	// height: 600px;
	margin: auto;
	background: url(../../assets/images/headers/15.jpg) center;
	background-size: cover;
}

#header-image-wrapper {
	// position: relative;
	margin-top: $navbar-size;
	text-align: center;
}

#header-image {
	// position: absolute;
	width: 100%;
	height: $header-image-height;
	max-width: 1600px;
	// height: 600px;
	margin: auto;
	background: url(../../assets/images/headers/15.jpg) center;
	background-size: cover;
	h1 {
		padding-top: ($header-image-height - $content-overlap) / 2;
		color: white;
		text-shadow: 0 0 8px rgba(black, 0.8);
		font-size: 60px;
	}
}

#navbar-wrapper {
	background: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	// border-bottom: 4px solid black;
	box-shadow: 0 4px 3px rgba(black, 0.5);
}

.navbar {
	$size: $navbar-size - $navbar-margin*2;
	@include clearfix;

	font-family: 'Josefin Sans', Georgia, sans-serif;
	margin: $navbar-margin auto;
	height: $size;
	position: relative;

	ul.links {
		padding: 0;
		list-style: none;
		margin-left: 380px;
		display: block;
		text-align: right;
		// display: inline-block;
	}

	li {
		display: inline-block;
		// border-left: 4px solid $pink;
		a {
			font-size: 32px;
			font-weight: normal;
			padding: 0px $navbar-margin;
			color: black;
			vertical-align: middle;
			&:hover {
				text-decoration: none;
				// background: $pink;
				color: $pink;
				// color: white;
			}
		}
		&:first-child:before {
			border-left: none;
			content: "";
		}
	}

	li:before {
		display: inline-block;
		content: "•";
		color: $pink;
		font-size: 36px;
		vertical-align: middle;
	}

	.logo {
		height: $size;
		float: left;
		vertical-align: middle;
		// position: absolute;
		// top: 0;
		// left: 0;
	}
	.left {
		float: left;
	}
	.right {
		float: right;
	}
}

.treats-page {
	.item {
		img {
			border-radius: 50%;
			width: 100px;
			height: 100px;
		}
	}
}